{% extends 'base.html' %}
{% load static %}
{% block childpage %}
<div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="row g-3">
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s" src="{% static 'images/about-1.jpg' %}">
                            </div>
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s" src="{% static 'images/about-2.jpg' %}" style="margin-top: 25%;">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s" src="{% static 'images/about-3.jpg' %}">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s" src="{% static 'images/about-4.jpg' %}">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h5 class="section-title ff-secondary text-start text-warning fw-normal">About Us</h5>
                        <h1 class="mb-4">Welcome to <i class="fa fa-utensils text-warning me-2"></i>Restoran</h1>
                        <p class="mb-4">Welcome to <b>PearlSpice</b>, where a passion for exceptional cuisine and outstanding service combines to create unforgettable dining moments. Located in the heart of [City/Neighborhood], we have been delighting guests since [Year] with a menu that showcases the finest of [Cuisine Type] infused with contemporary creativity.</p> <p class="mb-4">At <b>PearlSpice</b>, we are committed to crafting dishes with the freshest, locally-sourced ingredients, blending timeless traditions with innovative techniques. Our skilled chefs take pride in delivering a culinary experience that excites the senses, ensuring every meal is both a celebration of flavor and a work of art.</p>

                        <p>At PearlSpice, we believe dining is not just about the food—it’s about creating cherished experiences and connections. Whether you’re gathering for a casual meal with friends, enjoying a romantic evening, or celebrating a milestone, our cozy and welcoming ambiance is crafted to make each visit truly memorable.</p> <p>Thank you for choosing PearlSpice. It’s our honor to share our passion for outstanding dining with you, and we eagerly await the opportunity to serve you soon.<br/></p> <p><b>The PearlSpice Team</b></p>
                        <div class="row g-4 mb-4">
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center border-start border-5 border-warning px-3">
                                    <h1 class="flex-shrink-0 display-5 text-warning mb-0" data-toggle="counter-up">15</h1>
                                    <div class="ps-4">
                                        <p class="mb-0">Years of</p>
                                        <h6 class="text-uppercase mb-0">Experience</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center border-start border-5 border-warning px-3">
                                    <h1 class="flex-shrink-0 display-5 text-warning mb-0" data-toggle="counter-up">50</h1>
                                    <div class="ps-4">
                                        <p class="mb-0">Popular</p>
                                        <h6 class="text-uppercase mb-0">Master Chefs</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="btn bg-mycolor1 py-3 px-5 mt-2 text-white" href="/about_us_more/">Read More</a>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}